<div class="page__bd">
    <article class="weui-article">
        <h1 style="text-align: center;">会员系统积分规则</h1>
        <section>
            <h2 class="title">一、适用群体</h2>
            <section>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;香江红星家具建材博览中心微信公众号“红星汇”所有有效注册会员（必须填写真实姓名、有效联系方式）。
                </p>
            </section>
            <h2 class="title">二、积分规则</h2>
            <section>
                <p>
                <table>
                    <tbody>
                    <tr style="background: #e64340;" class="firstRow">
                        <td valign="center" colspan="4">
                            <p style="text-align:center">
                                <strong>"红星汇"</strong><strong>积分规则</strong>
                            </p>
                        </td>
                    </tr>
                    <tr style="background: #e64340;">
                        <td style="min-width: 40px;" valign="center">
                            <p style="text-align:center">
                                <strong>序号</strong>
                            </p>
                        </td>
                        <td valign="center">
                            <p style="text-align:center">
                                <strong>项目</strong>
                            </p>
                        </td>
                        <td valign="center">
                            <p style="text-align:center">
                                <strong>内容</strong>
                            </p>
                        </td>
                        <td style="min-width: 40px;" valign="center">
                            <p style="text-align:center">
                                <strong>积分</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="center">
                            <p style="text-align:center">
                                1
                            </p>
                        </td>
                        <td valign="center">
                            <p style="text-align:center">
                                加入<strong>红星汇</strong>
                            </p>
                        </td>
                        <td valign="center">
                            <p style="text-align:center">
                                注册为会员
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                20
                            </p>
                        </td>
                    </tr>
                    <tr style="height:35px">
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                2
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                微信签到
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                微信会员每日签到打卡
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                5
                            </p>
                        </td>
                    </tr>
                    <tr style="height:35px">
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                3
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                微信转发
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                每周3次转发
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                10
                            </p>
                        </td>
                    </tr>
                    <tr style="height:35px">
                        <td valign="center" colspan="4"
                                >
                            <p style="text-align:center">
                                注：每周一、三、五为转发日
                            </p>

                            <p style="text-align:center">
                                <strong>
                                    <span style="color: rgb(255, 0, 0);font-size: 14px">（每周3次转发至朋友圈即可增加积分，多次转发相同稿件无效）</span>
                                </strong>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </section>
            <h2 class="title">三、积分兑换标准及规则</h2>
            <section>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;（正价1元=10积分，秒杀活动1元=5积分）
                <table>
                    <tbody>
                    <tr style="height:30px;background: #e64340;" class="firstRow">
                        <td valign="center"
                            style="padding: 1px;   ">
                            <p style="text-align:center">
                                礼品名称
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style="text-align:center">
                                正价积分兑换
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style="text-align:center">
                                积分秒杀活动
                            </p>

                            <p style="text-align:center">
                                兑换
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                汰渍洗衣粉3袋
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                100
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                50
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                抽纸3盒
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                200
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                100
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                茶具套装
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                300
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                150
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                牛津布雨伞
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                300
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                150
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                抱枕
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                400
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                200
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                护腰枕
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                500
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                250
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                厨房六件套
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                500
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                250
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                电热水壶
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                800
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                400
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                小熊酸奶机
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                800
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                400
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                哈尔斯杯子
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                1000
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                500
                            </p>
                        </td>
                    </tr>

                    <tr style="height:30px">
                        <td valign="center"
                            style="padding: 1px;     border-top-style: none; border-bottom-width: 1px;  ">
                            <p style=";text-align:center;vertical-align:middle">
                                智能电饭煲
                            </p>
                        </td>

                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                1800
                            </p>
                        </td>
                        <td valign="center"
                                >
                            <p style=";text-align:center;vertical-align:middle">
                                900
                            </p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <br>

                <p>
                    <strong><span style="color: rgb(255, 0, 0);">礼品兑换规则：</span></strong>
                </p>
                <table class="bigger">
                    <tr>
                        <td>
                            1.所有参与积分兑换需
                            <span style="color:rgb(255,0,0);">携带本人身份证</span>
                            ，兑换礼品以实物为准，领取地点为营销中心；
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                2.“红星汇”会员系统上线后，会员兑换实物礼品时间为<span
                                    style="color:rgb(255,0,0);">每周六9:00--12:00、14:00--17:00</span>；
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                3. 当月积分兑换的礼品，必须当月领取实物礼品，次月无效 ；
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4. 以上正价积分兑换及积分秒杀活动
                                <span style="color:rgb(255,0,0);">
                                    参与兑换的礼品、积分兑换标准会适时发生变动</span>
                            ，以当期公告为准。
                        </td>
                    </tr>
                </table>
            </section>
            <h2 class="title">四、积分有效期</h2>
            <section>
                <p>
                    1.积分自产生之日起，有效期为一年，过期作废；<br>
                    2.系统将自动根据会员积分产生的时间对过期积分进行清零处理。
                </p>
            </section>

            <h2 class="title">五、积分扣减</h2>
            <section>
                <!--<h3>1.1 节标题</h3>-->

                <p>
                    1.系统会根据积分账户中积分数按实际兑换抵扣积分数量进行扣减；<br>
                    2.系统优先扣减有效期较短的积分。
                </p>
            </section>
            <h2 class="title">六、修改及终止</h2>
            <section>
                <!--<h3>1.1 节标题</h3>-->

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;在法律许可的范围内保留香江红星家具建材博览中心项目对相关规则（包括但不限于参加资格、积分计算、秒杀活动及兑换标准）进行修改或终止的权利，经本微信公众号公告后生效。
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;香江红星家具建材博览中心拥有对本会员系统积分规则的最终解释权。
                </p>
            </section>
        </section>
    </article>
</div>

<style>
    table {
        width: 100%;
        border-collapse: collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
        border: solid #999; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
        border-width: 1px 0 0 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
    }

    table th, table td {
        font-size: 0.8rem;
        border: solid #999;
        border-width: 0 1px 1px 0;
        padding: 2px;
    }

    .bigger td {
        font-size: 15px;
        border: solid #999;
        border-width: 0 1px 1px 0;
        padding: 2px;
    }

    tfoot td {

        text-align: center;
    }

    .weui-article p {
        margin: 0px;
    }

    .weui-article h2 {
        font-weight: bold;
    }
</style>